.footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.single-footer-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1rem;
}
.single-footer-header-container h3 {
  color: white;
  font-size: 1.8rem;
  margin: 0 0 1.8rem 0;
}
.single-footer-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.single-footer-container ul li {
  line-height: 2rem;
}
.single-footer-container ul li span {
  color: white;
}
.single-footer-container ul li a {
  color: white;
  text-decoration: none;
}
.footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
/* 📱 Mobile */
@media only screen and (max-width: 800px) {
  .footer-wrapper {
    flex-direction: column;
    gap: 4rem;
  }
}